<!DOCTYPE html>
<html>

<head>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>

    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>


    <link href="../release/styles/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script src="../release/scripts/bootstrap-datetimepicker.js"></script>
    <script src="../release/scripts/hng-date-time-picker.js"></script>
    <script src="app.js"></script>


</head>

<body ng-app="app" ng-controller="tstCtrl">
<div class="container">
    <div class="row">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="assignedon1" class="col-sm-3 control-label">
                    Assigned On</label>

                <div class="col-sm-3 input-group">
                    <input type="text" class="form-control" id="assignedon1"
                           placeholder="Assigned On" pick-date="true"
                           ng-model="assignedon" hng-date-time-picker
                           format="ddd dd-MMM-yyyy">
          <span class="input-group-btn" data-toggle="datetimepicker">
            <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
                </div>

                <div class="col-sm-2 input-group">
                    <input type="text" class="form-control" id="assignedon2"
                           placeholder="Assigned On" pick-time="true"
                           ng-model="assignedon" hng-date-time-picker
                           format="HH:mm PP">
          <span class="input-group-btn" data-toggle="datetimepicker">
            <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-time"></i>
            </button>
          </span>
                </div>

            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                <div class="col-sm-4">
                    <input type="email" class="form-control" id="inputEmail3"
                           placeholder="Email">
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <div class="well col-sm-8 col-sm-offset-2">
      <pre>{{ assignedon | date:'dd-MMM-yyyy hh:mm:ss a' }}
        {{assignedon}}
      </pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Inline Date Timer:</h2>

            <div id="dt"></div>
        </div>
        <div class="col-sm-6">
            <h2>Inline Date Timer:ng(UTC Time)</h2>
            <button type="button" data-ng-click="chgRange()">Change Date Range</button>
            <div ng-model="assignedon" hng-date-time-picker inline="true"
                 use-date="utc" start-date="startDate" end-date="endDate"></div>
        </div>
    </div>
</div>
<script>
    (function ($) {
        $('#dt').datetimepicker({inline: true, format: 'yyyy-MM-dd',
            startDate: "2013-12-10", endDate: new Date("2013-12-20")
        });
        $('#dt').css({width: 300, height: 300});
        $('#dt').datetimepicker('setValue', '2013-12-14');
        //$('#dt').datetimepicker('setValue','2013-12-11T11:51:41.636Z');
    })
            (jQuery);
</script>
</body>

</html>
